<div class="top-bar">
  <div class="top-bar-left">
    <button class="small-menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title"><%= link_to 'Anyplace Flights', root_path %></div>
  </div>
</div>